*.pyc
*.pyo
backup.dump
virtual_environment/
*.old.*
*.exp.*
.DS_Store
**/.DS_Store
dashboard/management/commands/temporary/*.py
prototype_1/staticfiles/*
virtual_environment/*
venv/*
*~
*/templates/*/old/*
*/old/*
*/*/old/*
*/*/*/old/*

node_modules/
frontend_v1/static/frontend_v1/main.js
frontend_v1/static/frontend_v1/main.bundle.js
frontend_v1/static/frontend_v1/main.bundle.*.js
frontend_v1/static/frontend_v1/scripts/bundles/main.js
frontend_v1/static/frontend_v1/scripts/bundles/main.bundle.js
frontend_v1/static/frontend_v1/scripts/bundles/main.bundle.*.js
frontend_v1/templates/frontend_v1/index.html
frontend_v1/static/.DS_Store
sent_emails/

**/node_modules/
appWebView/platforms/
appWebView/plugins/
appWebView/www/frontend_v1
appWebView/www/js/main.bundle.js
