@import "../../mixins";
@import "../../variables";

body[class*="o-page--posts--new"] {
  // background-color: $color-1-neutral;

  // Extra Small and Small devices
  // @media (max-width: 767px) {
  //   background-color: $white;
  // }
}

.o-post-editor {

  &.isActivelyEditing {
    box-shadow: $box-shadow-editing;
    margin-right: -$page-spacing-x-xs;
    margin-left: -$page-spacing-x-xs;
    padding-right: $page-spacing-x-xs;
    padding-left: $page-spacing-x-xs;

    // Small devices (landscape phones, 576px and up)
    @media (min-width: 576px) {
      margin-right: -$page-spacing-x-sm;
      margin-left: -$page-spacing-x-sm;
      padding-right: $page-spacing-x-sm;
      padding-left: $page-spacing-x-sm;
    }

    // Medium devices (tablets, 768px and up)
    @media (min-width: 768px) {
      margin-right: -$page-spacing-x-md;
      margin-left: -$page-spacing-x-md;
      padding-right: $page-spacing-x-md;
      padding-left: $page-spacing-x-md;
    }

    // Large devices (desktops, 992px and up)
    @media (min-width: 992px) {
      margin-right: -$page-spacing-x-lg;
      margin-left: -$page-spacing-x-lg;
      padding-right: $page-spacing-x-lg;
      padding-left: $page-spacing-x-lg;
    }

    // Extra large devices (large desktops, 1200px and up)
    @media (min-width: 1200px) {
      margin-right: -$page-spacing-x-xl;
      margin-left: -$page-spacing-x-xl;
      padding-right: $page-spacing-x-xl;
      padding-left: $page-spacing-x-xl;
    }
    
  }

  .form-control.o-post-body-text {
    @include body-text;
  }

  .o-tag-field {
    margin-bottom: 36px;
  }
 
  button.o-simple-button {

    &:hover {
      color: $color-6;
    }
  }

  .o-component-button {
    position: relative;
    top: 4px;
  } 

  .o-component-button + .o-component-button {
    margin-left: 10px;
  }

  .o-photo-component .o-page-full-width-section-content,
  .o-places-component .o-page-full-width-section-content {
    padding-top: $spacing-sm;
    padding-bottom: $spacing-sm;
    margin-top: $spacing-md; 
  }

  .o-photo-component { background-color: rgba($color-4, 0.2); }
  .o-places-component { background-color: rgba($color-1, 0.2); }

  .o-form-control-place-field {
    margin-top: 16px;
    margin-bottom: 16px;
  }
}