{% extends "email_template_01.html" %}


<!-- Email title -->
{% block title %}
  Password Reset
{% endblock %}


<!-- Logos | only needed where EMAIL_SITE_RESOURCES_URL doesn't work        -->
<!-- Must create separate tags within template for each logo -->
<!--   instance even if the image source is the same         -->
<!-- EMAIL_SITE_RESOURCES_URL doesn't work here because password reset      -->
<!--   is controlled by Django                               -->
{% block logo %}
  https://intheknomediafiles001.s3.amazonaws.com/static/frontend_v1/media/logo/loopla_logo.png
{% endblock %}

{% block logo2 %}
  https://intheknomediafiles001.s3.amazonaws.com/static/frontend_v1/media/logo/loopla_logo.png
{% endblock %}


<!-- Email background color | Default is #faefda -->
{% block backgroundColor1 %}
  #faefda
{% endblock %}

<!-- Add center alignment for center body including text and button -->
{% block align %}
align="center"
{% endblock %}

<!-- Main image -->
{% block mainImage %}
  https://intheknomediafiles001.s3.amazonaws.com/static/frontend_v1/media/monsters/loopla_monster_mug.png
{% endblock %}


<!-- Main image width | Default is 600 (full width) -->
{% block mainImageWidth %}
  400
{% endblock %}


<!-- Headline -->
{% block headline %}
  {{ user.first_name }}, you requested<br />a password reset.
{% endblock %}


<!-- Replaces all body content excluding Main Image and Headline -->
{% block fullBody %}
  <p style="
    color:#545454;
    display: block;
    font-family: Helvetica;
    font-size: 18px;
    line-height: 1.444em;
    font-style: normal;
    font-weight: 400;
    letter-spacing: normal;
    padding-left: 50px;
    padding-right: 50px;
    margin-bottom: 15px;">
    Click the button below to reset your password.
    <br />
    In case you've forgotten, your username is: {{ user.get_username }}
  </p>

  <a href="{{ domain }}{% url 'api_v1:password_reset_confirm' uidb64=uid token=token %}" target="_blank" style="
    background: #3ea9f5;
    display: inline-block;
    color: #FFFFFF;
    padding: 10px 20px;
    text-decoration: none;
    font-size: 14px;
    letter-spacing: 1px;
    margin-top: 1em;
    border-radius: 30px;
    background-clip: padding-box;">
    <strong>Reset Password</strong>
  </a>
{% endblock %}


<!-- Bottom section background color | Default is #f3f9eb -->
{% block backgroundColorBottom %}
  #f3f9eb
{% endblock %}


<!-- Unsubscribe button not present -->
{% block unsubscribe %}
{% endblock %}