@import "../../mixins";
@import "../../variables";

body {
  &[class*="o-page--password-reset"] {
    background: $gradient-3;
  }
}

.o-password-reset {

  &.o-page {
    max-width: 600px;
    margin: 0 auto;
  }

  .o-section-width {
    max-width: 500px;
    margin: 0 auto;
  }
}