@import "../../mixins";
@import "../../variables";

.o-category-wrapper {
  background-color: $gray-200;
  color: $text-color;
  display: inline-block;
  margin-bottom: $spacing-xs;
  border-radius: 15px;
  padding: 3px 8px;
  margin: 0 3px 3px 0;
  line-height: 10px;

  &:hover {
    background-color: $color-1;
    color: $white;
    text-decoration: none;
  }

  .o-marked-match {
    margin: -3px -8px;
    padding: 3px 8px;
    border-radius: 15px;
  }

  .o-category-label, .o-category-count {
    text-transform: uppercase;
    font-size: 10px;
    font-weight: 400;
    letter-spacing: .6px;
    line-height: 10px;
  }

  .o-category-count {
    margin-left: $spacing-xs;
    color: darken( $color-4, 10% );
    font-weight: 600;
  }

  .o-delete-category-button {
    font-size: 10px;
    color: $text-color;
    line-height: 1;
    margin: 0 0 0 5px;
    padding: 0;
    vertical-align: 1px;
    border: none;
    background-color: transparent;

    &:hover {
      color: $color-6;
    }
  }
}

.category:not(body) {
  background-color: transparent;
  padding-left: 0;
}